<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This Page belongs to @<i><%= catData.name %></i>.</h1>
    <p>Followers: <%= catData.followers %> &nbsp; &nbsp; &nbsp; &nbsp; Followings: <%= catData.following %></p>
    <br>
    <% for(post of catData.posts){ %>
        <img src="<%= post.image %>" alt="<%= catData.name %>">
        <p>Likes: <%= post.likes %> &nbsp; &nbsp; &nbsp; &nbsp; Followings: <%= post.comments %></p>
    <% } %>
</body>
</html>